<a class="book-details" data-toggle="collapse" href="#movieDetailsCollapse<%= index %>" role="button" aria-expanded="false" aria-controls="movieDetailsCollapse<%= index %>">
  <div class="card-product">
    <% unless movie.poster_path.blank? %>
      <%= image_tag movie.poster_path %>
    <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" style="width: 70px;" />
    <% end %>
    <div class="card-product-infos">
      <h2><%= movie.title %></h2>
      <p><%= movie.release_date %></p>
    </div>
    <div class="card-product-right">
      <%= icon('fas', 'chevron-down') %>
    </div>
  </div>
</a>
<div class="collapse book-description" id="movieDetailsCollapse<%= index %>">
  <div class="card-trip">
    <div class="card-trip-infos">
      <div>
        <%= link_to "Partager", group_movies_path(@group, movie: { title: movie.title, release_date: movie.release_date, overview: movie.overview, poster_path: movie.poster_path }), class: "btn btn-sm btn-ghost btn-share", method: :post %>
        <h2><%= movie.release_date[0, 4] if movie.release_date %></h2>
        <p><strong>Résumé</strong></p>
        <p><%= movie.overview %></p>
      </div>
    </div>
  </div>
</div>
