<div class="book-details">
  <div class="card-product">
    <a class="book-link" data-toggle="collapse" href="#bookDetailsCollapse<%= index %>" role="button" aria-expanded="false" aria-controls="bookDetailsCollapse<%= index %>">
      <% unless book.image_link.blank? %>
        <%= cl_image_tag book.cover, crop: :fill, height: 68, width: 68 %>
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" style="width: 70px;" />
      <% end %>
      <div class="card-product-infos">
        <h2><%= book.title %></h2>
        <p><%= book.authors %></p>
        <p><small>Recommandé par <%= book.user.first_name.capitalize %></small></p>
      </div>
    </a>
    <div class="card-product-right">
      <%= render 'like', resource: book %>
    </div>
  </div>
</div>

<div class="collapse book-description" id="bookDetailsCollapse<%= index %>">
  <div class="card-trip">
    <div class="card-trip-infos">
      <div>
        <% if book.owner_comment.present? || book.owner_grade.present? %>
          <div>
            <p><strong><%= book.user.first_name %> dit :</strong></p>
            <p><%= book.owner_grade || "-" %>/5</p>
            <p><%= book.owner_comment %></p>
          </div>
          <br>
        <% end %>
        <h2><%= book.published_date[0, 4] if book.published_date %></h2>
        <p><strong>Genres :</strong> <%= book.genres&.join(', ') %> </p>
        <p><strong>Résumé</strong></p>
        <p><%= book.description %></p>
      </div>
    </div>
  </div>
</div>

