<div class="book-details">
  <div class="card-product">
    <a class="book-link" data-toggle="collapse" href="#movieDetailsCollapse<%= index %>" role="button" aria-expanded="false" aria-controls="movieDetailsCollapse<%= index %>">
      <% if movie.poster_path %>
        <%= cl_image_tag movie.poster, crop: :fill, height: 80 %>
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" style="width: 70px;" />
      <% end %>
      <div class="card-product-infos">
        <h2><%= movie.title %></h2>
        <p><%= movie.release_date %></p>
        <p><small>Recommandé par <%= movie.user.first_name.capitalize %></small></p>
      </div>
      <div class="card-product-right">
        <%= render 'like', resource: movie %>
      </div>
    </a>
  </div>
</div>
<div class="collapse book-description" id="movieDetailsCollapse<%= index %>">
  <div class="card-trip">
    <div class="card-trip-infos">
      <div>
        <% if movie.owner_comment.present? || movie.owner_grade.present? %>
          <div>
            <p><strong><%= movie.user.first_name %> dit :</strong></p>
            <p><%= movie.owner_grade || "-" %>/5 </p>
            <p><%= movie.owner_comment %></p>
          </div>
          <br>
        <% end %>

        <p><strong>Sortie :</strong> <%= movie.release_date[0, 4] if movie.release_date %></p>
        <p><strong>Genre :</strong> <%= movie.genres.join(', ') %></p>
        <p><strong>Imdb :</strong> <a href="<%= movie.imdb_url %>"><%= movie.imdb_url %></a> </p>

        <br>
        <p><strong>Résumé</strong></p>
        <p><%= movie.overview %></p>
      </div>
    </div>
  </div>
</div>
