<% content_for :action do %>
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-arrow-left fa-lg"></i>
  <% end %>
<% end %>
<% content_for :title do %>
  <a data-toggle="collapse" href="#groupDetailsCollapse" role="button" aria-expanded="false" aria-controls="groupDetailsCollapse">
    <%= cl_image_tag (@group.image), crop: :fill, width: 40, height: 40, class: "avatar" %>
    <%= @group.name %>
  </a>
<% end %>

<div class="collapse" id="groupDetailsCollapse">
  <div class="card-trip">
    <div class="card-trip-infos">
      <div>
        <%= link_to new_group_member_path(@group) do %>
          <%= icon("fas", "user-plus") %>
          Ajouter un membre
        <% end %>
        <div class="card-group-members">
          <% @group.members.each do |member| %>
            <div class="card-group-member">
              <%= cl_image_tag member.avatar, class: "avatar" %>
              <p><%= member.first_name %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs group-navs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:previous] == 'book' || params[:previous].nil? %>" id="book-tab" data-toggle="tab" href="#books" role="tab" aria-controls="book" aria-selected="false"><i class="fas fa-book"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:previous] == 'movie' %>" id="movie-tab" data-toggle="tab" href="#movies" role="tab" aria-controls="movie" aria-selected="true"><i class="fas fa-film"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:previous] == 'series' %>" id="serie-tab" data-toggle="tab" href="#series" role="tab" aria-controls="serie" aria-selected="false"><i class="fas fa-tv"></i></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:previous] == 'game' %>" id="game-tab" data-toggle="tab" href="#games" role="tab" aria-controls="game" aria-selected="false"><i class="fas fa-gamepad"></i></a>
  </li>
</ul>


<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade <%= 'show active' if params[:previous] == 'book' || params[:previous].nil? %>" id="books" role="tabpanel" aria-labelledby="book-tab">
    <% if @books.any? %>
      <%= form_tag "/groups/#{@group.id}", method: :get do %>
        <div class="filter-input">
          Filtrer par genre : <%= select_tag :book_genre, options_for_select(Book::GENRES, params[:book_genre]), :onchange => "this.form.submit();" %>
        </div>
        <%= hidden_field_tag :previous, "book" %>
      <% end %>
      <%@books.each_with_index do |book, index| %>
        <%= render 'book', book: book, index: index %>
      <% end %>
    <% else %>
      <p>Aucun livre pour le moment... Ajoutes-en !</p>
    <% end %>
  </div>
  <div class="tab-pane fade <%= 'show active' if params[:previous] == 'movie' %>" id="movies" role="tabpanel" aria-labelledby="movie-tab">
    <% if @movies.any? %>
      <%= form_tag "/groups/#{@group.id}", method: :get do %>
        Filtrer par genre : <%= select_tag :movie_genre, options_for_select(Movie::GENRES, params[:movie_genre]), :onchange => "this.form.submit();" %>
        <%= hidden_field_tag :previous, "movie" %>
      <% end %>
      <%@movies.each_with_index do |movie, index| %>
        <%= render 'movie', movie: movie, index: index %>
      <% end %>
    <% else %>
      <p>Aucun film pour le moment... Ajoutes-en !</p>
    <% end %>
  </div>
  <div class="tab-pane fade <%= 'show active' if params[:previous] == 'series' %>" id="series" role="tabpanel" aria-labelledby="serie-tab">
    <% if @series.any? %>
      <%= form_tag "/groups/#{@group.id}", method: :get do %>
        Filtrer par genre : <%= select_tag :series_genre, options_for_select(Series::GENRES, params[:series_genre]), :onchange => "this.form.submit();" %>
        <%= hidden_field_tag :previous, "series" %>
      <% end %>
      <%@series.each_with_index do |series, index| %>
        <%= render 'series', series: series, index: index %>
      <% end %>
    <% else %>
      <p>Aucune série pour le moment... Ajoutes-en !</p>
    <% end %>
  </div>
  <div class="tab-pane fade <%= 'show active' if params[:previous] == 'game' %>" id="games" role="tabpanel" aria-labelledby="game-tab">
    <% if @games.any? %>
      <%= form_tag "/groups/#{@group.id}", method: :get do %>
        Filtrer par genre : <%= select_tag :game_genre, options_for_select(Game::GENRES, params[:game_genre]), :onchange => "this.form.submit();" %>
        <%= hidden_field_tag :previous, "game" %>
      <% end %>
      <%@games.each_with_index do |game, index| %>
        <%= render 'game', game: game, index: index %>
      <% end %>
    <% else %>
      <p>Aucun jeu pour le moment... Ajoutes-en !</p>
    <% end %>
  </div>
</div>

<div class="book-actions dropup">
  <a class="btn btn-add" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-plus fa-3x btn-white"></i>
  </a>
  <div class="dropdown-menu menu-narrow">
    <div class="add-menu">
      <%= link_to new_group_book_path(@group) do %>
        <i class="fas fa-book"></i>
        <p>Livre</p>
      <% end %>
      <%= link_to new_group_movie_path(@group) do %>
        <i class="fas fa-film"></i>
        <p>Film</p>
      <% end %>
      <%= link_to new_group_series_path(@group) do %>
        <i class="fas fa-tv"></i>
        <p>Série</p>
      <% end %>
      <%= link_to new_group_game_path(@group) do %>
        <i class="fas fa-gamepad"></i>
        <p>Jeu</p>
      <% end %>
    </div>
  </div>
</div>
