<% content_for :title do %>
  <a @group.name, data-toggle="collapse" href="#groupDetailsCollapse" role="button" aria-expanded="false" aria-controls="groupDetailsCollapse">
    <%= cl_image_tag (@group.image), crop: :fill, width: 40, height: 40, class: "avatar" %>
    <%= @group.name %>
  </a>
<% end %>

<div class="collapse" id="groupDetailsCollapse">
  <div class="card-trip">
    <div class="card-trip-infos">
      <div>
        <%= link_to new_group_member_path(@group) do %>
          <%= icon("fas", "user-plus") %>
          Ajouter un membre
        <% end %>
        <div class="card-group-members">
          <% @group.members.each do |member| %>
            <div class="card-group-member">
              <%= cl_image_tag member.avatar, class: "avatar" %>
              <p><%= member.first_name %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="book-actions">
  <%= link_to new_group_book_path(@group), class: "btn btn-add" do %>
    <i class="fas fa-plus fa-3x"></i>
  <% end %>
</div>

<% if @books.any? %>
  <%@books.each_with_index do |book, index| %>
    <%= render 'book', book: book, index: index %>
  <% end %>
<% else %>
  <p>Aucun livre pour le moment... Ajoutes-en !</p>
<% end %>
