<% content_for :action do %>
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-arrow-left fa-lg"></i>
  <% end %>
<% end %>
<% content_for :title do %>
  <a data-toggle="collapse" href="#groupDetailsCollapse" role="button" aria-expanded="false" aria-controls="groupDetailsCollapse">
    <%= cl_image_tag (@group.image), crop: :fill, width: 40, height: 40, class: "avatar" %>
    <%= @group.name %>
  </a>
<% end %>

<div class="collapse" id="groupDetailsCollapse">
  <div class="card-trip">
    <div class="card-trip-infos">
      <div>
        <%= link_to new_group_member_path(@group) do %>
          <%= icon("fas", "user-plus") %>
          Ajouter un membre
        <% end %>
        <div class="card-group-members">
          <% @group.members.each do |member| %>
            <div class="card-group-member">
              <%= cl_image_tag member.avatar, class: "avatar" %>
              <p><%= member.first_name %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="book-actions dropup">
  <a class="btn btn-add" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-plus fa-3x btn-white"></i>
  </a>
  <div class="dropdown-menu menu-narrow">
    <div class="add-menu">
      <%= link_to new_group_book_path(@group) do %>
        <i class="fas fa-book"></i>
        <p>Un livre</p>
      <% end %>
      <%= link_to "#" do %>
        <i class="fas fa-film"></i>
        <p>Un film</p>
      <% end %>
      <%= link_to "#" do %>
        <i class="fas fa-gamepad"></i>
        <p>Un jeu</p>
      <% end %>
    </div>
  </div>
</div>

<% if @books.any? %>
  <%@books.each_with_index do |book, index| %>
    <%= render 'book', book: book, index: index %>
  <% end %>
<% else %>
  <p>Aucun livre pour le moment... Ajoutes-en !</p>
<% end %>
