<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>ÇA PART EN LIVRE</h1>
    <p>Joue pas perso, partage tes bouquins !</p>
    <%= link_to "Recherche un livre et partage le !", books_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container">
  <% if @books %>
    <%@books.each_with_index do |book, index| %>
      <a class="book-details" data-toggle="collapse" href="#bookDetailsCollapse<%= index %>" role="button" aria-expanded="false" aria-controls="bookDetailsCollapse<%= index %>">
        <div class="card-product">
          <% if book.image_link %>
            <%= image_tag book.image_link %>
          <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <% end %>
          <div class="card-product-infos">
            <h2><%= book.title %></h2>
            <p><%= book.authors %></p>
            <p><small>Recommandé par <%= book.user.first_name.capitalize %></small></p>
          </div>
        </div>
      </a>
      <div class="collapse book-description" id="bookDetailsCollapse<%= index %>">
        <div class="card-trip">
          <div class="card-trip-infos">
            <div>
              <h2><%= book.published_date[0, 4] %></h2>
              <p><strong>Résumé</strong></p>
              <p><%= book.description %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Aucun livre pour le moment... Ajoutes-en !</p>
  <% end %>
</div>
