<% content_for :action do %>
  <div class="navbar-brand" id="sidebarCollapse">
    <i class="fas fa-bars fa-lg"></i>
  </div>
<% end %>
<% content_for :title, 'Groupes' %>

<% if @groups %>
  <% @groups.each do |group| %>
    <%= link_to group_books_path(group), class: "group-book-details" do %>
      <div class="card-product-group">
        <% if group.image %>
          <%= cl_image_tag group.image, crop: :fill, width: 120, height: 120 %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <% end %>
        <div class="card-product-group-infos">
          <h2><%= group.name %></h2>
          <p><small><%= pluralize(group.members.count, 'membre', plural: 'membres') %></small></p>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  Vous n'avez aucun groupe !
<% end %>

<%= javascript_pack_tag 'sidebar' %>
