<button type="button" class="btn btn-sm btn-ghost btn-share" data-toggle="modal" data-target="#resourceModal<%=index%>">
  Partager
</button>

<!-- Modal -->
<div class="modal fade" id="resourceModal<%=index%>" tabindex="-1" role="dialog" aria-labelledby="resourceModalLabel<%=index%>" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= simple_form_for [@group, @game] do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="resourceModalLabel<%=index%>">Donne ton avis gros</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.input :owner_comment, label: "Un petit commentaire ?" %>
          <%= f.input :owner_grade, collection: (0..5).to_a, label: "Une petite note ?" %>
          <%= f.input :name, as: :hidden, input_html: { value: game.name } %>
          <%= f.input :platforms, as: :hidden, input_html: { value: game.platforms } %>
          <%= f.input :released, as: :hidden, input_html: { value: game.released } %>
          <%= f.input :description, as: :hidden, input_html: { value: game.description } %>
          <%= f.input :background_image, as: :hidden, input_html: { value: game.background_image } %>
          <%= f.input :devs, as: :hidden, input_html: { value: game.devs } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
          <%= f.submit "Partager !", class: "btn btn-ghost" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
