<% content_for :add do %>
  <%= link_to new_group_game_path(@group), class: "navbar-brand" do %>
    <i class="fas fa-plus fa-lg btn-white"></i>
  <% end %>
<% end %>

<%= render 'shared/tabs' %>

<% if @games.any? %>
  <%= form_tag "/groups/#{@group.id}/games", method: :get do %>
    Filtrer par genre : <%= select_tag :game_genre, options_for_select(Game::GENRES, params[:game_genre]), :onchange => "this.form.submit();" %>
    <%= hidden_field_tag :previous, "game" %>
  <% end %>
  <%@games.each_with_index do |game, index| %>
    <%= render 'game', game: game, index: index %>
  <% end %>
<% else %>
  <p>Aucun jeu pour le moment... Ajoutes-en !</p>
<% end %>
