<button type="button" class="btn btn-sm btn-ghost btn-share" data-toggle="modal" data-target="#resourceModal<%=index%>">
  Partager
</button>

<!-- Modal -->
<div class="modal fade" id="resourceModal<%=index%>" tabindex="-1" role="dialog" aria-labelledby="resourceModalLabel<%=index%>" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= simple_form_for [@group, @series] do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="resourceModalLabel<%=index%>">Donne ton avis gros</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.input :owner_comment, label: "Un petit commentaire ?", input_html: { class: "owner_comment_input" } %>
          <%= f.input :owner_grade, collection: (1..5).to_a, label: "Une petite note ?", input_html: { class: "starRating" } %>
          <%= f.input :title, as: :hidden, input_html: { value: series.title } %>
          <%= f.input :release_date, as: :hidden, input_html: { value: series.release_date } %>
          <%= f.input :overview, as: :hidden, input_html: { value: series.overview } %>
          <%= f.input :poster_path, as: :hidden, input_html: { value: series.poster_path } %>
          <%= f.input :genres, as: :hidden, input_html: { value: series.genres } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
          <%= f.submit "Partager !", class: "btn btn-ghost" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
