<% content_for :add do %>
  <%= link_to new_group_podcast_path(@group), class: "navbar-brand" do %>
    <i class="fas fa-plus fa-lg btn-white"></i>
  <% end %>
<% end %>

<%= render 'shared/tabs' %>

<% if @podcasts.any? %>
  <%= form_tag "/groups/#{@group.id}/podcasts", method: :get do %>
    Filtrer par genre : <%= select_tag :podcast_genre, options_for_select(Podcast::GENRES, params[:podcast_genre]), :onchange => "this.form.submit();" %>
    <%= hidden_field_tag :previous, "podcast" %>
  <% end %>
  <%@podcasts.each_with_index do |podcast, index| %>
    <%= render 'podcast', podcast: podcast, index: index %>
  <% end %>
<% else %>
  <p>Aucune série pour le moment... Ajoutes-en !</p>
<% end %>
